@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  @apply .bg-blue-dark .text-white;
}

a {
  @apply .no-underline;
}

p {
  @apply .my-3;
}

h1 {
  @apply .mt-10 .mb-8;
}

h2 {
  @apply .mt-8 .mb-6;
}

h3 {
  @apply .mt-6;
}

.tilt {
  transform: skew(-3deg, 0.5deg) translateZ(0);
}

.untilt {
  transform: skew(3deg, -0.5deg) translateZ(0);
}

.animate-300 {
  transition: all 300ms linear;
}

@screen md {
  .underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    right: 50%;
    bottom: 0px;
    background: #ffffff;
    height: 2px;
    transition-property: left right;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
  left: 0;
}

.tr-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.-tr-45 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bezier {
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.grey-filter {
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  filter: grayscale(40%);
}

.grey-filter:hover {
  -webkit-filter: grayscale(10%);
  -moz-filter: grayscale(10%);
  filter: grayscale(10%);
}

.center-video-fix {
  left: 50%;
  transform: translate(-50%, 0);
}
.langmenu-enter {
  opacity: 0.01;
}
.langmenu-enter-active {
  opacity: 1;
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.langmenu-exit {
  opacity: 1;
}
.langmenu-exit-active {
  opacity: 0;
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply .bg-blue-dark;
}

::-webkit-scrollbar-thumb {
  @apply .bg-white;
}

::-webkit-scrollbar-thumb:hover {
  @apply .bg-orange-lighter;
}
