@tailwind preflight;
@tailwind components;
@tailwind utilities;

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 100%;
  bottom: 0px;
  background: #ffffff;
  height: 2px;
  transition-property: left right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}
